*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:system-ui, sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    /* background:#0b0f14; */
    /* background: #242424; */
    background: #222;
}

.clock{
    font-size:120px;
    font-weight:700;
    color:#eaeaea;
}

.colon{
    opacity:0.7;
}
